---
layout: default
title: Projects
slug: page-projects
---

<h1 class="heading-section">Side projects</h1>

<ol class="content-list">

{% for project in site.projects %}
<li class="content-list__item content-list__item--image">
  <a class="content-list__link" href="{% if project.link %}{{ project.link }}{% else %}{{ project.url }}{% endif %}">
    <h2 class="title h3">{{ project.title }}</h2>
    <img class="image" src="/image/{{ project.image }}" alt="" />
    <p class="excerpt">{{ project.description }}</p>
  </a>
</li>
{% endfor %}

</ol>
