.alert {
  background-color: rgba(0,0,0,0.08);
  border-radius: $border-radius-m;
  margin-bottom: 1em;
  padding: 1em;
  > *:last-child {
    margin-bottom: 0;
  }
}

.alert--update {
  font-size: 0.95em;
}

.alert--failure {
  background-color: $color-accent--d;
}
