.article--teaser {
  font-size: 0.95em;
  align-self: flex-start;
  .article__title {
    display: inline-block;
    width: 100%;
    padding-bottom: 0.25em;
    line-height: 1.2em;
  }
  .article__date {
    display: block;
    font-size: 0.9em;
    margin-bottom: 1em;
  }
}
