.article {
  background-color: $color-underlay--a;
  box-sizing: border-box;
  border-radius: $border-radius-m;
  color: #333;
  padding: 1.5em;
  position: relative;
  a {
    border-color: #007f90;
    color: #007f90;
  }
  .article__hero {
    margin-bottom: 0.75em;
    margin-left: -1.5em;
    margin-right: -1.5em;
    margin-top: -1.5em;
    position: relative;
    img {
      border-radius: $border-radius-m $border-radius-m 0 0;
      max-width: none;
      width: 100%;
    }
  }
  .article__title {
    margin-bottom: 0;
    margin-right: 2em;
    margin-top: 0;
  }
  .article__date {
    display: inline-block;
    margin-bottom: 1em;
  }
  .article__id {
    background-color: $color-accent--b;
    border-radius: 0 $border-radius-m;
    padding: 1em;
    position: absolute;
    right: 0;
    top: 0;
  }
  .article__image-credit {
    color: #777;
    display: block;
    margin: 0 1em 0 1em;
    position: absolute;
    right: 0;
    text-align: right;
  }
  figure {
    img {
      border: 1px solid #e1e8ed;
    }
  }
}
