.backdrop--dark {
  background-color: $color-dark;
  color: $color-white;
}

.backdrop--a {
  background-color: $color-accent--a;
}

.backdrop--b {
  background-color: $color-accent--b;
}

.backdrop--c {
  background-color: $color-accent--c;
}

.backdrop--d {
  background-color: $color-accent--d;
}

.backdrop--e {
  background-color: $color-accent--e;
}

.backdrop--f {
  background-color: $color-accent--f;
}

.backdrop--g {
  background-color: $color-underlay--a;
}

.backdrop--h {
  background-color: $color-underlay--b;
}
