body {
  font-family: 'Karla', "Lucida Grande", "Helvetica", "Arial";
  font-size: 20px;
  margin: 0;
  padding: 0;
  line-height: 1.3;
  @extend .backdrop--dark;
}

blockquote {
  margin: 0 0 1em 0;
  p {
  font-style: italic;
  }
}

figure {
  margin: 2em 0;
  text-align: center;
  img {
    border-radius: $border-radius-m;
  }
}

figcaption {
  font-size: 0.85em;
}

hr {
  border: 1px dashed $color-dark;
  margin: 1.5em 0;
}

img {
  max-width: 100%;
}
