body {
  @extend .backdrop--dark;
  font-family: 'Karla', "Lucida Grande", "Helvetica", "Arial";
  font-size: 20px;
  line-height: 1.3;
  margin: 0;
  padding: 0;
}

abbr {
  border-bottom: 2px dotted $color-accent--a;
  &:hover {
    cursor: help;
  }
}

blockquote {
  border-left: 2px solid rgba(0, 0, 0, 0.3);
  font-size: 1.1em;
  margin: 1.2em 0 1.2em 0;
  padding-left: 1em;
  p {
    font-style: italic;
    margin-bottom: 0.5em;
  }
  cite {
    font-size: 0.8em;
    font-style: normal;
    font-weight: 700;
  }
}

figure {
  margin: 1.2em 0 1em;
  text-align: center;
  img {
    border-radius: $border-radius-m;
  }
}

figcaption {
  font-size: 0.85em;
}

hr {
  border: 1px dashed $color-dark;
  margin: 1.5em 0;
}

img {
  max-width: 100%;
}

strong {
  font-weight: 700;
}

code {
  background-color: #333;
  border-radius: $border-radius-m;
  color: #fff;
  display: inline-block;
  font-family: "Monaco", "courier", monospace;
  font-size: 0.78em;
  margin: 0 0.1em 0 0;
  padding: 0.2em 0.35em;
}

pre code {
  display: block;
  font-size: 0.7em;
  padding: 1em;
  white-space: pre-wrap;
}

table {
  border-collapse: collapse;
  margin-bottom: 1.5em;
  tr {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    display: flex;

  }
  thead tr {
    border-bottom: 2px solid rgba(0,0,0,0.1);
  }
  td,
  th {
    flex: 1;
    padding: 0.2em 0;
    text-align: left;
  }
}

ul,
ol {
  padding-left: 1em;
}

dl {
  font-style: italic;
  dt {
    font-weight: 700;
  }
  dd {
    margin: 0;
  }
}
