.box {
  background-color: rgba(255,255,255,0.18);
  border-radius: $border-radius-m;
  font-size: 0.8em;
  margin-bottom: 2em;
  padding: 1em;
  & > *:first-child {
    margin-top: 0;
  }
  & > *:last-child {
    margin-bottom: 0;
  }
}

.box--invert {
  background-color: rgba(0,0,0,0.18);
}
