[class*='button'] {
  background-color: $color-accent--c;
  display: inline-block;
  color: #333;
  text-align: center;
  padding: 0.75em 1em;
  border-radius: $border-radius-m;
  margin-bottom: 2px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 2px 0 rgba(255, 255, 255, 0.05), 0 3px 0 rgba(255, 255, 255, 0.1), 0 4px 0 rgba(0, 0, 0, 0.4);
  &:link,
  &:visited,
  &:hover,
  &:focus,
  &:active {
    color: #333;
    border: none;
  }
  &:hover,
  &:focus,
  &:active {
    background-color: $color-accent--c;
    margin-top: 2px;
    margin-bottom: 0;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
  }
}

.button--l {
  font-size: 1.2em;
}
