.header {

  @include clear-fix;
  a {
    border-bottom: none;
  }

  .header-intro {
    //margin-right: 120px;
    padding: 20px 20px 0 20px;
    margin-bottom: 20px;

  }

  .header-intro__title {
    font-size: 1.4em;
    margin: 0 0 0.25em 0;
  }

  .header-intro__title-link {
    border: none;
  }

  .header-intro__subtitle {
    margin: 0;
    font-size: 16px;
  }

  .button--hire {
    margin: 1.5em 0 0 0;
    @media (min-width: $breakpoint-typography-m) {
      margin: 0;
      float: right;
      position: absolute;
      right: 20px;
      top: 20px;
    }
  }

  .header-intro {
    /*@media (min-width: $breakpoint-typography-s) {
      width: 49%;
      float: left;
    }*/
  }

}
