.list-unstyled {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list-horizontal {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 1em 0;
  li {
    margin: 0 auto;
  }
}

.list-numbers {
  counter-reset: list-numbers;
  list-style-type: none;
  padding-left: 2em;
  @media (min-width: 73em) {
    padding-left: 0;
  }
  li {
    margin: 2em 0 2em;
    position: relative;
    &:before {
      background-color: $color-accent--c;
      border-radius: 100%;
      color: #333;
      content: counter(list-numbers);
      counter-increment: list-numbers;
      display: block;
      display: inline-block;
      font-size: 1.2em;
      height: 1.5em;
      left: -2em;
      line-height: 1.5em;
      position: absolute;
      text-align: center;
      top: -0.05em;
      width: 1.5em;
      @media (min-width: 73em) {
        font-size: 1.7em;
        height: 1.5em;
        top: -0.2em;
        width: 1.5em;
      }
    }
  }
}
