.list-unstyled {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.list-horizontal {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 1em 0;
  li {
  margin: 0 auto;
  }
}

.list-numbers {
  counter-reset: list-numbers;
  list-style-type: none;
  padding-left: 2em;
  @media (min-width: 73em) {
    padding-left: 0;
  }
  li {
  position: relative;
  margin: 2em 0 2em;

  &:before {
    content: " ";
    display: block;
    content: counter(list-numbers);
    counter-increment: list-numbers;
    background-color: $color-accent--a;
    color: #333;
    display: inline-block;
    border-radius: 100%;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    line-height: 1.5em;
    font-size: 1.2em;
    position: absolute;
    left: -2em;
    top: -0.05em;
    @media (min-width: 73em) {
      width: 1.5em;
      height: 1.5em;
      font-size: 1.7em;
      top: -0.2em;
    }
  }
  }
}
