$color-dark: #455A64;
$color-white: #FFF;

$color-debug: rgba(255,255,255,0.3);

$color-accent--a: #009688; // Teal
$color-accent--b: #8BC34A; // Green
$color-accent--c: #00BCD4; // Blue
$color-accent--d: #F06292; // Pink
$color-accent--e: #FFC107; // Yellow
$color-accent--f: #FF5722; // Red

$color-underlay--a: #FDFAF5;
$color-underlay--b: #795548;

$border-radius-m: 0.2em;

$font-sans-regular: 'Karla', "Lucida Grande", "Helvetica", "Arial";
