nav {
  margin: 0;
  padding: 0;
  ul,
  ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}


.nav--extended {
  .nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .nav__list__item {
    display: block;
    font-size: 0.7em;
    margin: 0 5%;
    text-transform: uppercase;
    width: 40%;
    @media (min-width: 30em) {
      flex: 1;
      font-size: 0.8em;
      margin: 0 0.5em;
    }
    @media (min-width: 35em) {
      font-size: 1em;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  [class*='nav__list__item__text'] {
    margin-bottom: 0;
  }
  .nav__list__item__text--prominent {
    font-size: 1.625em;
    line-height: 2.25;
    margin: 0 0 0.3em;
  }
  .nav__list__link {
    border-bottom: none;
    display: block;
    margin-bottom: 1.5em;
    text-align: center;
    width: 100%;
    &:before {
      border-radius: $border-radius-m;
      box-sizing: border-box;
      content: " ";
      display: block;
      height: 24px;
      margin-bottom: 0.5em;
      width: 100%;
      @media (min-width: 30em) and (min-height: 40em) {
        height: 150px;
      }
    }
    &:hover,
    &:focus,
    &:active {
      border-bottom: none;
      &:before {
        border: 12px solid rgba(255,255,255,0.3);
      }
    }
  }
  .section-home {
    flex: none;
    min-width: 15em;
    width: inherit;
  }
  .section-fesg .nav__list__link:before {
    background-color: $color-accent--a;
  }
  .section-writing .nav__list__link:before {
    background-color: $color-accent--b;
  }
  .section-portfolio .nav__list__link:before {
    background-color: $color-accent--c;
  }
  .section-speaking .nav__list__link:before {
    background-color: $color-accent--d;
  }
}

.nav--mini {
  @extend .t-small;
  @extend .nav--extended;
  .nav__list {
    flex-wrap: wrap;
    @media (min-width: 40em) {
      flex-wrap: nowrap;
    }
  }
  .nav__list__item {
    margin: 0 0.5em;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  .nav__list__link {
    &:before {
      height: 50px;
    }
  }
  .section-home {
    margin-bottom: 2em;
    text-align: center;
    width: 100%;
    @media (min-width: 40em) {
      margin-bottom: 0;
      text-align: center;
      width: auto;
    }
  }
}
