.u-centered {
  text-align: center;
}

[class*='u-separator'] {
  &:before {
    content: " ";
    display: block;
    margin: 1em auto;
    border-top: 2px dashed $color-white;
    width: 200px;
    @media (min-width: 30em) and (min-height: 40em) {
      margin: 2em auto;
    }
  }
}

.u-separator--s {
  @extend [class*='u-separator'];
  &:before {
    width: 100px;
  }
}

.u-push-top {
  margin-top: 1em;
}

.u-push-top-l {
  margin-top: 1.5em;
}

.u-push-top-xl {
  margin-top: 2em;
}

.u-push-top-none {
  margin-top: 0;
}

.u-push-bottom-s {
  margin-bottom: 0.5em;
}

.u-push-bottom {
  margin-bottom: 1em;
}
