body {
    margin: 0;
    font-size: 16px;
    font-family: "Myriad Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    line-height: 1.35em;
    background-color: #E7E7E7;
    }
    
    @media (min-width:50em) {
        body {
            font-size: 19px;
        }
    }

iframe {
    margin: 0 auto;
    border: none;
}

ul {
    list-style-type: square;
    padding-left: 0.9em;
    }

h1,
h2 {
    font-weight: normal;
    }

h2 {
    margin: 1.7em 0 0.85em;
    font-size: 1.4em;
    }

h3 {
    font-weight: normal;
    font-size: 1.4em;
    line-height: 1.2em;
    }

img {
    max-width: 100%;
}

a {
	color: #00ACED;
	}

a:visited {
	color: #7949AD;
	}
	
a:hover,
a:focus,
a:active {
	color: #3ED7EC;
	}

a:hover {
	cursor: pointer;
	}
	
audio {
    margin: 1em auto 2em;
    display: block;
    clear: both;
    width: 100%;
    max-width: 25em;
    }

aside {
    clear: both;
    }
    
    @media (min-width:88em) {
        aside {
            position: absolute;
            left: -27%;
            width: 21%;
            text-align: right;
            font-size: 0.9em;
        }
        
    }

abbr {
    border-bottom: 1px dotted #666;
    color: #777;
    }

abbr:hover {
    cursor: help;
    }

strong {
    font-weight: 600;
    }

blockquote {
    margin: 1.5em -1.5em 1.85em;
    font-size: 1em;
    font-family: baskerville;
    color: #6F737E;
    background-color: #F0F1F0;
    padding: 0.5em 1.5em 0.4em;
}

blockquote cite {
    font-family: "myriad pro";
    font-size: 0.9em;
}

pre {
    white-space: pre-wrap;
    background-color: #F5F5F5;
    padding: 1em 1.5em;
    margin: 1.5em -1.5em 1.85em;
}

code {
    font-size: 0.85em;
    padding: 0.2em 0.5em;
    background-color: #E7E6E9;
}

pre code {
    background-color: transparent;
    font-size: 0.75em;
    padding: 0;
}

kbd {
    background-color: #F5F5F2;
    padding: 0.3em 0.7em 0.1em;
    border: 1px solid #D3D3D3;
    margin: 0 0.2em;
    border-radius: 3px;
    box-shadow: #ccc 0px 2px 0px;
    font-size: 0.8em;
    letter-spacing: 0.05em;
    font-family: "myriad pro";
    text-transform: uppercase;
}

table {
    border-collapse: collapse;
    font-size: 0.9em;
    }

table td,
table th {
    border-bottom: 1px solid #ddd;
    padding: 0.7em 1.8em 0.5em;
    font-weight: normal;
    text-align: left;
    color: #555;
    vertical-align: top;
    }

table th {
    border-bottom: 2px solid #ddd;
    background-color: #F0F1F0;
    padding: 1.5em 1.8em 0.8em;
    font-weight: 600;
}

table tr:nth-child(odd) td {
    background-color: #F7F7F7;
}

.warning {
    background-color: #F6F6E2;
    padding: 1.2em 1.5em 1em;
    margin: 1em -1.5em;
}

@media (min-width:50em) {
    figure {
        margin-bottom: 2em;
    }
}

figure img,
.h-entry figure img {
    margin-bottom: 0em;
}

figcaption {
    color: #6F737E;
    font-size: 0.9em;
    margin-top: 0.3em;
    text-align: center;
}

.full figcaption {
    padding: 0 1.65em;
}

.video iframe {
    width: 100%;
    height: 300px;
}

@media (min-width:50em) {
    .video iframe {
        height: 450px;
    }
}


.list-inline {
    padding: 0;
    margin: 0;
    }

.list-inline li {
    display: inline-block;
    list-style-type: none;
    margin-right: 1em;
    }





.heading-section {
    text-transform: lowercase;
    padding: 0 0.8em;
    font-weight: normal;
    font-size: 2em;
    line-height: 1.2em;
    color: #fff;
    }



.link-type-article {
    background-image: url("/style/icon-writing-white.png");
    }

.link-type-talk {
    background-image: url("/style/icon-speaking-white.png");
    }

.link-type-podcast {
    background-image: url("/style/icon-podcast-white.png");
    }




.global-nav {
    margin: 1em 0 0 0;
    clear: both;
    font-size: 1.2em;
    }

    @media (min-width:50em) {
    .global-nav {
        margin: 0;
        float: right;
        clear: none;
        font-size: 1em;
        }
    }

.global-nav ul {
    padding: 0;
    margin: 0;
    }

.global-nav {
    background-color: #555;
    }

.global-nav li {
    list-style-type: none;
    }

    @media (min-width:50em) {
    .global-nav li {
        float: left;
        }
    }

.global-nav li a {
    padding: 1em 1.5em;
    display: block;
    text-align: center;
    text-transform: lowercase;
    }

    @media (min-width:50em) {
    .global-nav li a {
        padding: 4em 1.5em 1em 1.5em;
        }
    }




.listing {
    margin: 0;
    clear: both;
    float: left;
    padding: 3em 0 0 0;
    position: relative;
    width: 100%;
    }

.listing a {
    transition: background-color 0.5s ease;
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 1.5em;
    position: relative;
    }
    
.listing li:nth-of-type(3n+1) {
    clear: both;
    }

.listing li {
    list-style-type: none;
    }

.listing h3,
.listing p {
    margin: 0 0 1.25em 0;
    }

.listing p {
    font-size: 0.9em;
    }

.listing h3 {
    margin-right: 1em;
    margin-bottom: 0;
    }

.listing time {
    font-size: 0.8em;
    opacity: 0.8;
    margin: 0 0 1.5em;
    display: block;
    }

.listing .post-number {
    position: absolute;
    top: 0.75em;
    right: 1em;
    font-size: 0.75em;
    opacity: 0.5;
    }





.list-blocks,
.list-column {
    clear: both;
    padding: 0; 
    margin: 0;
    }



.list-blocks-thumbnails img {
    width: 100%;
    }

    @media (min-width:50em) {
    .list-blocks-thumbnails img {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        }
    .list-blocks-thumbnails a {
        padding-top: 67%;
        }
    }

.list-blocks-thumbnails h3 {
    margin-bottom: 0.3em;
    }


.list-block-minor a {
    padding-left: 6em;
    position: inherit;
    }

.list-block-minor img {
    position: absolute;
    left: 0;
    top: 0;
    width: 4em;
    margin: 1em;
    }




.list-column {
    margin: 0 0 1em 0; 
    }

.list-column ul,
.list-column ol {
    padding: 0;
    margin-top: 1.8em;
    }
    
    @media (min-width:50em) {
    .list-column ul,
    .list-column ol {
        margin-top: 0;
        }
    }

.list-column li {
    margin: 0 1.5em 1em 1em;  
    }

.list-column .heading-subsection {
    margin-left: 2em;
    margin-top: 1em;
    font-size: 1.5em;
    color: rgba(255,255,255,0.65);
    }
    
    @media (min-width:50em) {
    .list-column .heading-subsection {
        display: none;
        }
    }

.list-column a {
    padding: 0;
    font-size: 0.85em;
    position: inherit;
    }

.list-column h3 {
    font-size: 1.3em;
    }

.list-column p {
    font-style: italic;
    opacity: 0.7;
    line-height: 1.2em;
    }

.list-column li {
    clear: both;
    transition: margin 0.25s ease;
    }

    .list-column li:hover {
        margin-left: 2em;
        margin-right: 1em;
        }

.list-column li a {
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 25px;
    padding-left: 38px;
    display: inline-block;
    }






.section-writing,
.page-writing {
    background-color: #96b346;
    }

    .section-writing li:nth-of-type(1) a {
        background-color: #aecf86;
        background-color: rgba(255,255,255,0.8);
        }
    
        .section-writing li:nth-of-type(1) a:hover,
        .section-writing li:nth-of-type(1) a:focus,
        .section-writing li:nth-of-type(1) a:active {
            background-color: #e1edd3;
            background-color: rgba(255,255,255,1);
            }
    
    .section-writing li:nth-of-type(2) a {
        background-color: #c3dca6;
        background-color: rgba(255,255,255,0.6);
        }
        
        .section-writing li:nth-of-type(2) a:hover,
        .section-writing li:nth-of-type(2) a:focus,
        .section-writing li:nth-of-type(2) a:active {
            background-color: #deebce;
            }
    
    .section-writing li:nth-of-type(3) a {
        background-color: #d2e4bb;
        background-color: rgba(255,255,255,0.4);
        }
        
        .section-writing li:nth-of-type(3) a:hover,
        .section-writing li:nth-of-type(3) a:focus,
        .section-writing li:nth-of-type(3) a:active {
            background-color: #dae8c7;
            }
    
    .section-writing .more-section a {
        background-color: #578616;
        }
    
        .section-writing .more-section a:hover,
        .section-writing .more-section a:focus,
        .section-writing .more-section a:active {
            background-color: #466d12;
            }





.section-projects {
    background-color: #dfbc35;
    }

    .section-projects .list-block-major li:nth-of-type(1) a {
        background-color: rgba(255,255,255,0.6);
        }
        
        .section-projects .list-block-major li:nth-of-type(1) a:hover,
        .section-projects .list-block-major li:nth-of-type(1) a:focus,
        .section-projects .list-block-major li:nth-of-type(1) a:active {
            background-color: rgba(255,255,255,0.8);
            }
    
    .section-projects .list-block-major li:nth-of-type(2) a {
        background-color: rgba(255,255,255,0.4);
        }
        
        .section-projects .list-block-major li:nth-of-type(2) a:hover,
        .section-projects .list-block-major li:nth-of-type(2) a:focus,
        .section-projects .list-block-major li:nth-of-type(2) a:active {
            background-color: rgba(255,255,255,0.6);
            }
        
    .section-projects .list-block-minor li a,
    .section-projects .list-block-minor li a img {
        transition: padding-left 0.5s ease;
        -webkit-transform: rotateX( 360deg );
        }
    
    .section-projects .list-block-minor li:hover a,
    .section-projects .list-block-minor li:focus a,
    .section-projects .list-block-minor li:active a {
        padding-left: 7em;
        }
    
    .section-projects .list-block-minor li:hover img,
    .section-projects .list-block-minor li:focus img,
    .section-projects .list-block-minor li:active img {
        padding-left: 1em;
        }
    
    .section-projects .list-block-minor {
        background-color: #e9cc61;
        background-color: rgba(255,255,255,0.2);
        padding-bottom: 999px;
        margin-bottom: -999px;
        }
    

.section-portfolio,
.page-portfolio {
    background-color: #6ea8cc;
    }
    
    .section-portfolio li:nth-of-type(1) a {
        background-color: rgba(255,255,255,0.8);
        }
    
        .section-portfolio li:nth-of-type(1) a:hover,
        .section-portfolio li:nth-of-type(1) a:focus,
        .section-portfolio li:nth-of-type(1) a:active {
            background-color: #e4eff6;
            }
    
    .section-portfolio li:nth-of-type(2) a {
        background-color: rgba(255,255,255,0.6);
        }
        
        .section-portfolio li:nth-of-type(2) a:hover,
        .section-portfolio li:nth-of-type(2) a:focus,
        .section-portfolio li:nth-of-type(2) a:active {
            background-color: #dae9f2;
            }
    
    .section-portfolio li:nth-of-type(3) a {
        background-color: rgba(255,255,255,0.4);
        }
    
        .section-portfolio li:nth-of-type(3) a:hover,
        .section-portfolio li:nth-of-type(3) a:focus,
        .section-portfolio li:nth-of-type(3) a:active {
            background-color: #cae0ed;
            }




.section-elsewhere {
    background-color: #e9668e;
    color: #fff;
    padding-top: 3em;
    }





    





.listing .more-section {
    display: block;
    color: #fff;
    text-align: center;
    font-family: Georgia;
    margin: 0;
    }

.listing .more-section a {
    font-size: 3em;
    display: block;
    background-color: rgba(0,0,0,0.2);
    text-decoration: none;
    color: #fff;
    padding: 0.2em 0 0.65em;   
    }
    
    .listing .more-section a:hover,
    .listing .more-section a:focus,
    .listing .more-section a:active {
        background-color: rgba(0,0,0,0.35);
        }









.global-header,
.global-footer {
    background-color: #333;
    color: #fff;
    padding: 1em 1.5em;
    clear: both;
    display: block;
    overflow: hidden;
    }

.global-header {
    padding: 0;
    }

    @media (min-width:50em) {
    .global-header {
        padding: 0 0 0 1.5em;
        }
    }

.global-header h1 {
    margin-bottom: 0.38em;
    line-height: 1em;
    }

.global-header p {
    margin: 0;
    }

.global-header .vcard {
    text-align: center;
    padding: 0 1.5em;
    }

.global-footer .list-inline {
    margin-bottom: 1em;
    }

    @media (min-width:50em) {
    
    .global-header .vcard {
        float: left;
        text-align: left;
        padding: 0;
        }
    
    .global-footer .list-inline {
        font-size: 0.85em;
        float: right;
        }
    
    }

.global-header a,
.global-footer a {
    color: #fff;
    text-decoration: none;
    }

.global-footer a {
    border-bottom: 1px solid rgba(255,255,255,0.4);
    }








.legal {
    font-size: 0.88em;
    }

    @media (min-width:50em) {
    .legal {
        float: left;
        }
    }

.legal,
.legal a {
    color: rgba(255,255,255,0.7);
    }

.legal a:hover,
.legal a:focus,
.legal a:active {
    color: rgba(255,255,255,1);
    }



.legal p {
    margin: 0;
    }


@media (min-width:50em) {
    
    .list-blocks {
        margin-right: 3em;
    }
    
    .more-section {
        width: 3em;
    }

    .listing {
        overflow: hidden;
    }
    
    .list-column {
        margin-bottom: 3em;
    }
    
    .list-blocks li {
        float: left;
        width: 31.333%;
        margin-right: 2%;
        clear: none;
        display: block;
    }
    
    .list-blocks a {
        padding-bottom: 999px;
        margin-bottom: -999px;
    }
    
    .list-blocks li:last-child {
        margin-right: 0;
    }
    
    .list-block-major {
        float: left;
        width: 66.666%;
        width: calc(66.666% - 2em);
        clear: none;
        margin-right: 0;
    }
    
    .list-block-major li {
        width: 47%;
        margin-right: 3%;
    }
    
    .list-block-minor {
        float: right;
        width: 33.333%;
        width: calc(33.333% + 2em);
        clear: none;
        margin-right: 0;
    }
    
    .list-block-minor li {
        float: none;
        width: auto;
        margin-right: 0;
        font-size: 0.8em;
        position: relative;
    }
    
    .list-block-minor a {
        padding-top: 2em;
        padding-bottom: 2em;
        margin-bottom: 0;
    }
    
    .list-block-minor h3 {
        margin: 0 0 0.3em;
    }
    
    .list-column {
        float: left;
        width: 31.333%;
        clear: none;
    }
    
    .list-blocks .more-section {
        width: 3em;
        clear: none;
        position: absolute;
        right: 0;
    }
    
    .list-blocks .more-section a {
        padding: 2.5em 0 999px 0;
        margin-left: 0;
        margin-right: 0;
        float: right;
        width: 100%;
    }

}




.h-entry {
    max-width: 42em;
    padding: 1.5em;
    background-color: #fff;
    margin: 0 auto;
    position: relative;
    }
    
    @media (min-width:50em) {
        .h-entry {
            padding: 3em 1.5em;
        }
    }

.h-entry h1 {
    font-size: 1.85em;
    line-height: 1.1em;
    margin: 0;
    }

.h-entry p,
.h-entry img {
    clear: both;
    }

.h-entry time {
    color: rgba(0,0,0,0.6);
    font-size: 0.9em;
    }

.h-entry img {
    margin: 1em 0;
    }

.h-entry .full {
    clear: both;
    margin-left: -1.5em;
    margin-right: -1.5em;
}

.h-entry .full img,
.h-entry .full iframe {
    text-align: center;
    margin: 0 auto;
    display: block;
}

@media (min-width:50em) {
    .h-entry h1 {
        float: left;
        margin-top: 0;
        margin-bottom: 1.5em;
        margin-right: 1em;
        max-width: 17em;
        }
    
    .h-entry time {
        float: right;
        }
}




.project {
    background-color: rgba(255,255,255,1);
    padding: 0;
    margin-bottom: 1em;
    overflow: hidden;
    position: relative;
    }

    .project .description {
        margin: 0 1.5em;
        }

    .project h3 {
        margin-bottom: 0;
        font-size: 1em;
        font-weight: 600;
        }
    
    .project img {
        width: 100%;
        }
    
    .project h3 + p {
        margin-top: 0;
        }
    
    .project .image-l {
        max-width: 100%;
        }
    

    @media (min-width:50em) {
    
    .project-l {
        margin-right: 3em;
        }
    
    .project-m,
    .project-s {
        clear: both;
        margin-right: 3em;
        overflow: hidden;
        border-bottom: 1.5em solid #e7e7e7;
        }
    
    .project-m .project {
        float: left;
        width: 49%;
        margin-right: 2%;
        font-size: 0.85em;
        padding-bottom: 999px;
        margin-bottom: -999px;
        }
    
    .project-m .project:last-child {
        margin-right: 0;
        }
    
    .project-m .project img {
        position: absolute;
        top: 0;
        }
    
    .project-m .project .description {
        margin-top: 67%;
        }

    .project-s .project {
        float: left;
        width: 32%;
        font-size: 0.85em;
        margin-right: 2%;
        padding-bottom: 999px;
        margin-bottom: -999px;
        }
    
    .project-s .project:last-child {
        margin-right: 0;
        }
    
    .project-s .project img {
        position: absolute;
        top: 0;
        }
    
    .project-s .project .description {
        margin-top: 67%;
        }
        
    }



.page-writing,
.page-post {
    border-top: 8px solid #96b346;
    background-color: #e7e7e7;
    }

.page-writing .list-blocks li a {
    background-color: #eff0ef;
    border-top: 1.35em solid #e7e7e7;
    }

.page-writing .list-blocks li:hover a {
    background-color: rgba(255,255,255,1);
    }

.page-writing .heading-section {
    color: #333;
    }

.page-portfolio {
    border-top: 8px solid #6ea8cc;
    background-color: #e7e7e7;
    padding-top: 3em;
    }

.page-home {
    border-top: 8px solid #555;
    }