body {
    margin: 0;
    font-size: 16px;
    font-family: "Myriad Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    line-height: 1.35em;
    background-color: #E7E7E7;
}

h1,
h2 {
    font-weight: normal;
}

h3 {
    font-weight: normal;
    font-size: 1.4em;
    line-height: 1.2em;
}

a {
	color: #00ACED;
	}

a:visited {
	color: #7949AD;
	}
	
a:hover,
a:focus,
a:active {
	color: #3ED7EC;
	}

a:hover {
	cursor: pointer;
	}

.list-inline {
    padding: 0;
    margin: 0;
}

.list-inline li {
    display: inline-block;
    list-style-type: none;
    margin-right: 1em;
}

.heading-section {
    text-transform: lowercase;
    padding: 0 0.8em;
    font-weight: normal;
    font-size: 2em;
    line-height: 1.2em;
    color: #fff;
}





.global-nav {
    margin: 1em 0 0 0;
    clear: both;
    font-size: 1.2em;
}

@media (min-width:50em) {
    .global-nav {
        margin: 0;
        float: right;
        clear: none;
        font-size: 1em;
    }
}

.global-nav ul {
    padding: 0;
    margin: 0;
}

.global-nav {
   
    background-color: #555;
}

.global-nav li {
    list-style-type: none;
}

@media (min-width:50em) {
    .global-nav li {
        float: left;
    }
}

.global-nav li a {
    padding: 1em 1.5em;
    display: block;
    text-align: center;
    text-transform: lowercase;
}

@media (min-width:50em) {
    .global-nav li a {
    padding: 4em 1.5em 1em 1.5em;
    }
}




.listing {
    margin: 0;
    clear: both;
    float: left;
    padding: 3em 0 0 0;
    position: relative;
    width: 100%;
    }

.listing li a {
    transition: background-color 0.5s ease;
    }


    

.section-writing,
.page-writing {
    background-color: #96b346;
}

    .section-writing li:nth-of-type(1) a {
        background-color: #aecf86;
        background-color: rgba(255,255,255,0.8);
        }
    
        .section-writing li:nth-of-type(1) a:hover,
        .section-writing li:nth-of-type(1) a:focus,
        .section-writing li:nth-of-type(1) a:active {
            background-color: #e1edd3;
            background-color: rgba(255,255,255,1);
        }
    
    .section-writing li:nth-of-type(2) a {
        background-color: #c3dca6;
        background-color: rgba(255,255,255,0.6);
        }
        
        .section-writing li:nth-of-type(2) a:hover,
        .section-writing li:nth-of-type(2) a:focus,
        .section-writing li:nth-of-type(2) a:active {
            background-color: #deebce;
        }
    
    .section-writing li:nth-of-type(3) a {
        
        background-color: #d2e4bb;
        background-color: rgba(255,255,255,0.4);
        }
        
        .section-writing li:nth-of-type(3) a:hover,
        .section-writing li:nth-of-type(3) a:focus,
        .section-writing li:nth-of-type(3) a:active {
            background-color: #dae8c7;
        }
    
    .section-writing .more-section a {
        background-color: #578616;
        }
    
        .section-writing .more-section a:hover,
        .section-writing .more-section a:focus,
        .section-writing .more-section a:active {
            background-color: #466d12;
            }
    
.listing li:nth-of-type(3n+1) {
    clear: both;
    }




.section-projects {
    background-color: #dfbc35;
    }

    .section-projects .list-block-major li:nth-of-type(1) a {
        background-color: rgba(255,255,255,0.6);
        }
        
        .section-projects .list-block-major li:nth-of-type(1) a:hover,
        .section-projects .list-block-major li:nth-of-type(1) a:focus,
        .section-projects .list-block-major li:nth-of-type(1) a:active {
            background-color: rgba(255,255,255,0.8);
        }
    
    .section-projects .list-block-major li:nth-of-type(2) a {
        background-color: rgba(255,255,255,0.4);
        }
        
        .section-projects .list-block-major li:nth-of-type(2) a:hover,
        .section-projects .list-block-major li:nth-of-type(2) a:focus,
        .section-projects .list-block-major li:nth-of-type(2) a:active {
            background-color: rgba(255,255,255,0.6);
            }
        
    .section-projects .list-block-minor li a,
    .section-projects .list-block-minor li a img {
        transition: padding-left 0.5s ease;
        -webkit-transform: rotateX( 360deg );
        }
    
    .section-projects .list-block-minor li:hover a,
    .section-projects .list-block-minor li:focus a,
    .section-projects .list-block-minor li:active a {
        padding-left: 7em;
        }
    
    .section-projects .list-block-minor li:hover img,
    .section-projects .list-block-minor li:focus img,
    .section-projects .list-block-minor li:active img {
        padding-left: 1em;
        }
    
    .section-projects .list-block-minor {
        background-color: #e9cc61;
        background-color: rgba(255,255,255,0.2);
        padding-bottom: 999px;
        margin-bottom: -999px;
        }
    

.section-portfolio,
.page-portfolio {
    background-color: #6ea8cc;
}
    
    .section-portfolio li:nth-of-type(1) a {
        background-color: rgba(255,255,255,0.8);
    }
    
        .section-portfolio li:nth-of-type(1) a:hover,
        .section-portfolio li:nth-of-type(1) a:focus,
        .section-portfolio li:nth-of-type(1) a:active {
            background-color: #e4eff6;
            }
    
    .section-portfolio li:nth-of-type(2) a {
        background-color: rgba(255,255,255,0.6);
    }
        
        .section-portfolio li:nth-of-type(2) a:hover,
        .section-portfolio li:nth-of-type(2) a:focus,
        .section-portfolio li:nth-of-type(2) a:active {
            background-color: #dae9f2;
            }
    
    .section-portfolio li:nth-of-type(3) a {
        background-color: rgba(255,255,255,0.4);
    }
    
        .section-portfolio li:nth-of-type(3) a:hover,
        .section-portfolio li:nth-of-type(3) a:focus,
        .section-portfolio li:nth-of-type(3) a:active {
            background-color: #cae0ed;
            }

.section-elsewhere {
    background-color: #e9668e;
    color: #fff;
    padding-top: 3em;
}





    
.listing li {
    list-style-type: none;
}

.listing h3,
.listing p {
    margin: 0 0 1.25em 0;
}

.listing p {
    font-size: 0.9em;
}

.listing h3 {
    margin-right: 1em;
    margin-bottom: 0;
}

.listing time {
    font-size: 0.8em;
    opacity: 0.8;
    margin: 0 0 1.5em;
    display: block;
}

.listing a {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 1.5em;
    position: relative;
}

.listing .post-number {
    position: absolute;
    top: 0.75em;
    right: 1em;
    font-size: 0.75em;
    opacity: 0.5;
}

.list-blocks,
.list-column {
    clear: both;
    padding: 0; 
    margin: 0;
}

.list-blocks-thumbnails img {
    width: 100%;
}

@media (min-width:50em) {

.list-blocks-thumbnails img {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
}

.list-blocks-thumbnails a {
    padding-top: 67%;
}

}



.list-blocks-thumbnails h3 {
    margin-bottom: 0.3em;
}

.list-column {
    margin: 0 0 1em 0;
    
}

.list-column li {
    margin: 0 1.5em 1em 1.5em;
    
}

.list-column a {
    padding: 0;
    font-size: 0.85em;
    position: inherit;
}

.list-column h3 {
    font-size: 1.3em;
}

.list-column p {
    font-style: italic;
    opacity: 0.7;
    line-height: 1.2em;
}

.list-column li {
    clear: both;
    transition: margin 0.25s ease;
}

.list-column li:hover {
    margin-left: 2em;
    margin-right: 1em;
}

.list-column li a {
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 25px;
}

.list-column li a {
    background-image: url("/style/icon-writing-white.png");
    }

.list-column li a[href^="http://www.lanyrd.com/"],
.list-column li a[href^="http://lanyrd.com/"] {
    background-image: url("/style/icon-speaking-white.png");
    }

.list-column li a[href^="http://www.5by5.tv/"],
.list-column li a[href^="http://5by5.tv/"] {
    background-image: url("/style/icon-podcast-white.png");
    }

.list-column li a {
    padding-left: 38px;
    display: inline-block;
}

.listing .more-section {
    display: block;
    color: #fff;
    text-align: center;
    font-family: Georgia;
    margin: 0;
}

.listing .more-section a {
    font-size: 3em;
    display: block;
    background-color: rgba(0,0,0,0.2);
    text-decoration: none;
    color: #fff;
    padding: 0.2em 0 0.65em;   
}

.listing .more-section a:hover,
.listing .more-section a:focus,
.listing .more-section a:active {
    background-color: rgba(0,0,0,0.35);
}

.list-block-minor a {
    padding-left: 6em;
    position: inherit;
    }

.list-block-minor img {
    position: absolute;
    left: 0;
    top: 0;
    width: 4em;
    margin: 1em;
}

.global-header,
.global-footer {
    background-color: #333;
    color: #fff;
    padding: 1em 1.5em;
    clear: both;
    display: block;
    overflow: hidden;
}

@media (min-width:50em) {
    
    .global-footer {
    }
}

.global-header {
    padding: 0;
}

@media (min-width:50em) {
    .global-header {
    padding: 0 0 0 1.5em;
    }
}

.global-header h1 {
    margin-bottom: 0.38em;
    line-height: 1em;
}

.global-header p {
    margin: 0;
}



.global-header .vcard {
    text-align: center;
}

@media (min-width:50em) {

.global-header .vcard {
    float: left;
    text-align: left;
}

.global-footer .list-inline {
    font-size: 0.85em;
    float: right;
}

}

.global-header a,
.global-footer a {
    color: #fff;
    text-decoration: none;
}

.global-footer a {
    border-bottom: 1px solid rgba(255,255,255,0.4);
}



@media (min-width:50em) {

    body {
        font-size: 19px;
    }
    
    .list-blocks {
        margin-right: 3em;
    }
    
    .more-section {
        width: 3em;
    }

    .listing {
        overflow: hidden;
    }
    
    .list-column {
        margin-bottom: 3em;
    }
    
    .list-blocks li {
        float: left;
        width: 31.333%;
        margin-right: 2%;
        clear: none;
        display: block;
    }
    
    .list-blocks a {
        padding-bottom: 999px;
        margin-bottom: -999px;
    }
    
    .list-blocks li:last-child {
        margin-right: 0;
    }
    
    .list-block-major {
        float: left;
        width: 66.666%;
        width: calc(66.666% - 2em);
        clear: none;
        margin-right: 0;
    }
    
    .list-block-major li {
        width: 47%;
        margin-right: 3%;
    }
    
    .list-block-minor {
        float: right;
        width: 33.333%;
        width: calc(33.333% + 2em);
        clear: none;
        margin-right: 0;
    }
    
    .list-block-minor li {
        float: none;
        width: auto;
        margin-right: 0;
        font-size: 0.8em;
    }
    
    .list-block-minor a {
        padding-top: 2em;
        padding-bottom: 2em;
        margin-bottom: 0;
    }
    
    .list-block-minor h3 {
        margin: 0 0 0.3em;
    }
    
    .list-column {
        float: left;
        width: 31.333%;
        clear: none;
    }
    
    .list-blocks .more-section {
        width: 3em;
        clear: none;
        position: absolute;
        right: 0;
    }
    
    .list-blocks .more-section a {
        padding: 2.5em 0 999px 0;
        margin-left: 0;
        margin-right: 0;
        float: right;
        width: 100%;
    }

}





main {
}

.h-entry {
    max-width: 45em;
    padding: 3em 1.5em;
    background-color: #fff;
    margin: 0 auto;
}

.page-writing .list-blocks li a {
    background-color: #eff0ef;
    border-top: 1.35em solid #e7e7e7;
    }

.page-writing .list-blocks li:hover a {
    background-color: rgba(255,255,255,1);
}

.page-writing .heading-section {
    color: #333;
}


.project {
    background-color: rgba(255,255,255,1);
    padding: 0;
    margin-bottom: 1em;
    
    overflow: hidden;
    position: relative;
}

    
    .project .description {
        margin: 0 1.5em;
    }
    
    .project {
        padding: 0;
    }
    
    
    
    .project h3 {
        margin-bottom: 0;
        font-size: 1em;
        font-weight: 600;
    }
    
    .project h3 + p {
        margin-top: 0;
    }
    
    .project .image-l {
        max-width: 100%;
    }
    
    .project .image-s {
    }
    
    .project .image-m {
    }
    

@media (min-width:50em) {

    .project-l {
        margin-right: 3em;
    }
    
    .project-m,
    .project-s {
        clear: both;
        margin-right: 3em;
        overflow: hidden;
        border-bottom: 1.5em solid #e7e7e7;
    }
    
    .project-m .project {
        float: left;
        width: 49%;
        margin-right: 2%;
        font-size: 0.85em;
        padding-bottom: 999px;
        margin-bottom: -999px;
    }
    
    .project-m .project:last-child {
        margin-right: 0;
    }
    
    .project-m .project img {
        position: absolute;
        top: 0;
    }
    
    .project-m .project .description {
        margin-top: 67%;
    }

    .project-s .project {
        float: left;
        width: 32%;
        font-size: 0.85em;
        margin-right: 2%;
        padding-bottom: 999px;
        margin-bottom: -999px;
    }
    
    .project-s .project:last-child {
        margin-right: 0;
    }
    
    .project-s .project img {
        position: absolute;
        top: 0;
    }
    
    .project-s .project .description {
        margin-top: 67%;
    }
    
}

.page-writing,
.page-post {
    border-top: 8px solid #96b346;
    background-color: #e7e7e7;
}

.page-portfolio {
    border-top: 8px solid #6ea8cc;
    background-color: #e7e7e7;
    padding-top: 3em;
}

.page-home {
    border-top: 8px solid #555;
}