{% include head.html %}

<body class="page-post">

{% include header.html %}

    <main role="main">

        <article class="h-entry">

            {% if page.image %}<div class="full image-article"><img src="{{ page.image }}" /></div>{% endif %}

            <h1 class="title">{{ page.title }}</h1>

            <time datetime="{{ page.date | date_to_xmlschema }}" class="entry-published date">{{ page.date | date_to_long_string }}</time>

            <p class="post-number">{{ page.id }}</p>

            {{ content }}

        </article>

    </main>

{% include footer.html %}

{% include foot.html %}
