<footer role="contentinfo" class="footer u-separator">
  <div class="l-container l-container--tight u-centered">

  <ul class="list-unstyled list-horizontal footer__links">
      <li><a href="https://www.linkedin.com/in/anna-debenham/" rel="me">LinkedIn</a></li>
      <li><a href="https://medium.com/@annaboldstart" rel="me">Medium</a></li>
      <li><a href="https://github.com/maban" rel="me">Github</a></li>
      <li><a href="mailto:anna@maban.co.uk" rel="me">anna@maban.co.uk</a></li>
  </ul>

  <div class="legal">

    <p><small>Articles licenced under <a href="https://creativecommons.org/licenses/by-nc-sa/2.0/uk/" rel="license">CC BY-NC-SA 2.0 UK</a>.</small></p>

    <div class="vcard" itemscope itemtype="https://schema.org/Organization">

      <p><small><strong class="fn org" itemprop="name">Maban Ltd</strong> is registered at <span class="adr" itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
        <span class="street-address" itemprop="streetAddress">Cardens Accountants LLP, 28 Fourth Avenue</span><br/>
        <span class="locality" itemprop="addressLocality">Hove</span>,
        <span class="postal-code" itemprop="postalCode">BN3 2PJ</span>,
        <span class="country-name" itemprop="addressCountry">United Kingdom</span>.
      </span></small></p>

      <p><small>Company №: <span itemprop="taxID">8440253</span>.</small>
      <small>VAT №: <span itemprop="vatID">158011727</span>.</small></p>

    </div>

	</div>

</div>

</footer>
