<!doctype html>
<html lang="en">

<head>

	<meta charset="utf-8">

	<title>{% if page.title %}{{page.title}}{% else %}Anna Debenham: Product Manager at Snyk, based in London, UK{% endif %}</title>

	<meta name="author" content="Anna Debenham" />
	<meta name="description" content="{% if page.description %}{{page.description}}{% else %}Front-End Developer based in London, UK{% endif %}" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<meta name="twitter:card" content="{% if page.image %}summary_large_image{% else %}summary{% endif %}">
  <meta name="twitter:image" property="og:image" content="http://maban.co.uk/image/{% if page.card-image %}{{page.card-image}}{% elsif page.image %}{{page.image}}{% else %}avatar-annadebenham-800.jpg{% endif %}">
  <meta name="twitter:site" content="@anna_debenham">
  <meta name="twitter:title" property="og:title" content="{{page.title}}">
  <meta name="twitter:description" property="og:description" content="{% if page.description %}{{page.description}}{% else %}Product Manager at Snyk, based in London, UK{% endif %}">

	<link rel="icon" href="favicon.ico">
	<link rel="stylesheet" href="/css/main.css?201606192336">
	<link rel="apple-touch-icon" href="icon.png"/>

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

  <link href="https://fonts.googleapis.com/css?family=Karla:400,400i,700" rel="stylesheet">

</head>
