<div class="global-header">

    <header id="top" class="vcard">
    	<h1 class="fn"><a href="http://maban.co.uk" rel="me">Anna Debenham</a></h1>
    	<p class="role">Freelance Front-End developer based in the UK</p>
    </header>
    
    <nav class="global-nav">
        <ul>
            <li><a href="/">maban.co.uk</a></li>
            <li class="section-writing"><a href="/writing">Writing</a></li>
            <li class="section-projects"><a href="/projects">Projects</a></li>
            <li class="section-portfolio"><a href="/portfolio">Portfolio</a></li>
        </ul>
    </nav>

</div>