<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	
	<title>Anna Debenham: Freelance Front-End developer based in the UK</title>	
	
	<meta name="title" content="Anna Debenham" />
	<meta name="author" content="Anna Debenham" />
	<meta name="description" content="Freelance front-end developer based in Brighton" />
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="icon" href="favicon.ico">
	<link rel="stylesheet" href="/style/main.css">
	<link rel="apple-touch-icon" href="icon.png"/>
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->	
</head>

<body>