<div class="header l-container u-centered">

    <header role="banner" id="top" class="header-intro" itemscope itemtype="http://schema.org/Person">
      <{% if page.is-home %}h1{% else %}p{% endif %} class="header-intro__title">
      {% unless page.is-home %}<a href="http://maban.co.uk" class="header-intro__title-link" rel="me">{% endunless %}Anna Debenham{% unless page.is-home %}</a>{% endunless %}
      </{% if page.is-home %}h1{% else %}p{% endif %}>
    	<p class="header-intro__subtitle">Front-End Developer at <a href="http://snyk.io">Snyk</a></p>
      <p><a href="/#about">About me</a></p>
    	{% comment %}<a href="/hire-me/" class="button button--hire">Hire me</a>{% endcomment %}
    </header>

</div>
