<div class="l-container">

  <div class="l-cols">

    <div class="l-cols__item--minor">

      {% include availability-speaking.html %}
      
      <figure>
        <img src="/image/photo-update-1.jpg" alt="Photo of me giving a talk">
        <figcaption>Photo by Geri Coady</figcaption>
      </figure>

    </div>

    <div class="l-cols__item--major">

      <div class="article">

        <p>I've given over two dozen talks around the world about the things I'm passionate about. When I give a talk, I try and tailor it to the event, so it's really great if you can tell me a bit about your audience beforehand (Is English their first language? Are they mainly designers/developers? Are they at the start of their careers?).</p>

        <p>These are the topics I'm currently speaking about:</p>

        <ul>
          <li><a href="/speaking/game-console-browsers/">Game console browsers</a></li>
          <li><a href="/speaking/front-end-style-guides/">Front-end Style Guides</a></li>
        </ul>

        <p>I'm highly conscious of the need for conferences and meetups to offer a safe space for speakers and attendees, so I only speak at events that have a published and enforced <a href="https://alistapart.com/article/tweaking-the-moral-ui">Code of Conduct</a>.</p>

      </div>

    </div>

  </div>

</div>
