---
layout: hire-me
title: Hire me
slug: page-home
---

<div class="l-container">

  <h1 class="h2 title">Hire me for <a href="#consultancy" class="t-accent--c">consultancy</a>, <a href="#technical-editing" class="t-accent--b">technical editing</a> and <a href="#speaking" class="t-accent--d">speaking</a></h1>

  <p>I started out in 2008. During that time, I've had the opportunity to help work on some incredible projects with <a href="http://snyk.io">Snyk</a>, <a href="/portfolio/dconstruct/">Clearleft</a>, <a href="/portfolio/mosaic/">The Wellcome Trust</a>, <a href="/portfolio/idap/">Government Digital Service</a>, <a href="/portfolio/code-for-america/">Code for America</a>, <a href="/portfolio/university-of-surrey/">The University of Surrey</a>, <a href="/portfolio/">and many more</a>.</p>

  <p>I've written a book about <a href="">Front-end style guides</a>, and I give talks around the world about best practices in web development.</p>

</div>

<div class="l-container">

  <div class="l-cols">

    <div class="l-cols__item--major">

      <h2 class="t-title t-accent--c" id="consultancy">Product development consultancy</h2>

      <p>I'm often brought in to work with in-house teams on agile product development work, in particular on rapid prototyping and feedback cycles. I prefer to be ingrained with a team, working in the same room as them, rather than working off-site, and helping level up their product and engineering processes. Where that's not possible (such as if a client is based abroad), I'll arrange a daily standup with the team to share what I've worked on that day, ask any questions, and make sure things are on track.</p>

      <p>I've got an engineering background, so I'm confident getting stuck in on the technical details, and I've also got experience on the design side, so I can confidently collaborate with designers, too. I'm versed in common collaboration tools such as Figma, Miro, Slack, Jira, Notion and Airtable.</p>

      <p><a href="/portfolio/">Take a look at some of my work</a></p>

    </div>

    <div class="l-cols__item--minor">

      {% include availability-consultancy.html %}

      <h3 class="p title">Testimonials</h3>
      <blockquote class="testimonial">
          <p>Anna has everything you could ask for in a front-end developer: an excellent skillset of markup and CSS, augmented by a keen and inquiring mind.</p>
          <cite>Jeremy Keith, Director, Clearleft</cite>
      </blockquote>

      <blockquote class="testimonial">
          <p>Not only is Anna an excellent front-end developer but she also has a strong grasp of visual design, meaning her implementations pay attention to the important little details that can often be missed by others. Futhermore, her work to improve web design education in schools and for young people shows a true commitment to the profession and a desire to be the best in the business.</p>
          <cite>Paul Lloyd, Freelance</cite>
      </blockquote>

      <!--<blockquote class="testimonial">
        <p>Anna was a fabulous intern for us. She has a fine sense of aesthetic, solid front end code, bundles of enthusiasm and great sense of humour. Work with her!</p>
        <p>Richard Rutter, Director, Clearleft</p>
      </blockquote>

      <blockquote class="testimonial">
        <p>Anna worked at Clearleft as an Intern for 3 months, but we liked her so much we asked her to stay on for a further 2.</p>
        <p>Anna is sharp, enthusiastic and willing to get stuck-in. She's incredibly conscientious and will always go the extra mile to make sure the work get's done on time and to a high standard.</p>
        <p>Andy Budd, Director, Clearleft</p>
      </blockquote>-->

    </div>

  </div>

</div>

<div class="l-container">

  <div class="l-cols">

    <div class="l-cols__item--major">

      <h2 class="t-title t-accent--b" id="technical-editing">Technical editing</h2>

      <p>As well as working with clients on websites, I also do tech editing for publications. I'm on the team at <a href="https://alistapart.com/">A List Apart</a> and <a href="https://24ways.org/">24 ways</a> as a tech editor, and I was <a href="https://ethanmarcotte.com/">Ethan Marcotte</a>'s tech editor for the second edition of his book <a href="/portfolio/responsive-web-design/">Responsive Web Design</a>. I'm currently tech-editing two titles that have yet to be released.</p>

      <p>I tech edit work that's still in the outline phase, and also work that's nearly ready to publish.</p>

      <p>When I'm sent a piece to tech edit, the main thing I do is check that what's being said is correct to the best of my knowledge. I'll test any code in different browsers, and also add comments where I think something needs to be explained more fully.</p>

      <p>Unlike a copy editor, I won't correct spelling or gramatical mistakes, nor will I do line-edits, but I'll often act as a second pair of eyes and flag things that I want the copy editor to look at.</p>

    </div>

    <div class="l-cols__item--minor">

      {% include availability-editing.html %}

      <blockquote class="testimonial">
        <p>Anna is one of the most incisive and thoughtful technical editors I’ve ever worked with. Her impossibly keen eye strengthened the second edition of Responsive Web Design significantly. I’d work with Anna again in a heartbeat.</p>
        <cite>Ethan Marcotte, Author of <a href="https://abookapart.com/products/responsive-web-design">Responsive Web Design</a></cite>
      </blockquote>

    </div>

  </div>

</div>

<div class="l-container">

  <div class="l-cols">

    <div class="l-cols__item--major">

      <h2 class="t-title t-accent--d" id="speaking">Speaking</h2>

      <p>I've given over a dozen talks around the world about the things I'm passionate about. When I give a talk, I try and tailor it to the event, so it's really great if you can tell me a bit about your audience beforehand (Is English their first language? Are they mainly designers/developers? Are they at the start of their careers?).</p>

      <p>These are the topics I'm currently speaking about:</p>

      <ul>
        <li><a href="/speaking/game-console-browsers/">Game console browsers</a></li>
        <li><a href="/speaking/front-end-style-guides/">Front-end Style Guides</a></li>
      </ul>

      <p>I live in London, 10 minutes from the Underground, 30 minutes from the Eurostar, and under and hour to the nearest airport, so it's pretty easy for me to get around. I'm also confident using public transport, and usually prefer that to a taxi.</p>

      <p>I'm highly conscious of the need for conferences and meetups to offer a safe space for speakers and attendees, so I only speak at events that have a published and enforced <a href="https://alistapart.com/article/tweaking-the-moral-ui">Code of Conduct</a>.</p>

      <a href="/speaking/#events">See the events I've spoken at</a>

    </div>

    <div class="l-cols__item--minor">

      {% include availability-speaking.html %}

      <figure>
        <img src="/image/photo-update-1.jpg" alt="Photo of me giving a talk">
        <figcaption>Photo by Geri Coady, taken at Update 2011</figcaption>
      </figure>

    </div>

  </div>

</div>
