.article {
  @include card;
  margin-bottom: $base-font-size*2;
  position: relative;

  @media (min-width: $breakpoint-typography-s) {
    max-width: 45em;
    margin-left: auto;
    margin-right: auto;
  }

  & > *:last-child {
    margin-bottom: 0;
  }

  .title {
    margin-right: 50px; // give room for article number
  }

}

.article--full {
  @extend .article;
  @media (min-width: $breakpoint-typography-s) {
    max-width: 80em;
  }
  &:after {
    clear: both;
    content: "";
    display: block;
  }
}
