img {
  max-width: 100%;
}

.full {
  margin: 2em -20px 1.5em -20px;
  width: auto;
  img {
    max-width: none;
    width: 100%;
  }
  figcaption {
    padding: 0 20px;
  }
}

.pull,
.push {
  width: 50%;
  float: left;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

.pull {
  margin-left: -20px;
  margin-right: 20px;
}

.push {
  float: right;
  margin-right: -20px;
  margin-left: 20px;
}
