nav {

  ol,
  ul {
      padding-left: 0;
      }



}

.nav {

  margin-left: -20px;
  margin-right: -20px;
  font-size: 15px;
  text-transform: uppercase;
  margin-top: 20px;
  letter-spacing: 1px;
  font-weight: 200;
  @media (min-width: $breakpoint-typography-m) {
    margin-left: 0;
    margin-right: 0;

  }
  clear: both;
  margin-top: $base-font-size;

  .nav__list {
    margin: 0;
    @media (min-width: $breakpoint-typography-m) {
    display: flex;
    }
  }

  .nav__list-item {
    list-style-type: none;
    float: left;
    display: block;
    float: left;
    padding-bottom: 0;
    transition: 0.5s ease all;
    width: 50%;
    float: left;
    margin: 0 3px;
    border-bottom: 10px solid;
    @media (min-width: $breakpoint-typography-m) {
    flex: 1;
    text-align: center;

      &.section-portfolio {
        border-color: $section-portfolio;
      }
      &.section-writing {
        border-color: $section-writing;
      }
      &.section-speaking {
        border-color: $section-speaking;
      }
      &.section-projects {
        border-color: $section-projects;
      }
      &.section-home {
        border-color: $section-home;
      }

    }








  }
  .section-home {
    width: 100%;
  }

  .nav__list-link {
    display: block;
    padding: 10px 20px;
  }



}

.page-speaking .section-speaking {
  border-top: none;
}

.page-post .section-writing,
.page-writing .section-writing {
  border-top: none;
}
