nav {
  ol,
  ul {
    padding-left: 0;
  }
}

.nav {
  font-size: 15px;
  text-transform: uppercase;
  margin-top: 20px;
  letter-spacing: 1px;
  font-weight: 200;
  clear: both;
  margin-top: $base-font-size;
  @media (min-width: $breakpoint-typography-m) {
    margin-left: 0;
    margin-right: 0;
  }

  .nav__list {
    margin: 0;
    @media (min-width: $breakpoint-typography-m) {
      display: flex;
    }
  }

  .nav__list-item {
    list-style-type: none;
    display: block;
    padding-bottom: 0;
    transition: 0.5s ease all;
    margin: 0 20px;
    border-bottom: 5px solid #2D2D3A;
    @media (min-width: $breakpoint-typography-m) {
      flex: 1;
      margin: 0 3px 0 0;
      &:last-child {
        margin-right: 0;
      }
    }

    .nav__list-link {
      display: block;
      padding: 5px 0 5px 0;
      text-align: left;
      border-bottom: 2px solid transparent;
      @media (min-width: $breakpoint-typography-m) {
        text-align: center;
      }
    }

    &.section-portfolio:hover,
    &.section-portfolio:focus,
    &.section-portfolio:active,
    &.section-portfolio,
    &.section-portfolio:hover .nav__list-link {
      border-color: $section-portfolio;
      .page-portfolio &.section-portfolio {
        margin-left: 0;
        padding-left: 20px;
        @media (min-width: $breakpoint-typography-m) {
          padding-left: 0;
        }
        &:hover .nav__list-link {
          padding-left: 20px;
          margin-left: -20px;
          @media (min-width: $breakpoint-typography-m) {
            margin-left: 0;
            padding-left: 0;
          }
        }

      }

    }

    &.section-writing:hover,
    &.section-writing:focus,
    &.section-writing:active,
    &.section-writing,
    &.section-writing:hover .nav__list-link {
      border-color: $section-writing;
      .page-writing &.section-writing {
        margin-left: 0;
        padding-left: 20px;
        @media (min-width: $breakpoint-typography-m) {
          padding-left: 0;
        }
        &:hover .nav__list-link {
          padding-left: 20px;
          margin-left: -20px;
          @media (min-width: $breakpoint-typography-m) {
            margin-left: 0;
            padding-left: 0;
          }
        }
      }
    }

    &.section-speaking:hover,
    &.section-speaking:focus,
    &.section-speaking:active,
    &.section-speaking,
    &.section-speaking:hover .nav__list-link {
      border-color: $section-speaking;
      .page-speaking &.section-speaking {
        margin-left: 0;
        padding-left: 20px;
        @media (min-width: $breakpoint-typography-m) {
          padding-left: 0;
        }
        &:hover .nav__list-link {
          padding-left: 20px;
          margin-left: -20px;
          @media (min-width: $breakpoint-typography-m) {
            margin-left: 0;
            padding-left: 0;
          }
        }
      }
    }

    &.section-projects:hover,
    &.section-projects:focus,
    &.section-projects:active,
    &.section-projects,
    &.section-projects:hover .nav__list-link {
      border-color: $section-projects;
      .page-projects &.section-projects {
        margin-left: 0;
        padding-left: 20px;
        @media (min-width: $breakpoint-typography-m) {
          padding-left: 0;
        }
        &:hover .nav__list-link {
          padding-left: 20px;
          margin-left: -20px;
          @media (min-width: $breakpoint-typography-m) {
            margin-left: 0;
            padding-left: 0;
          }
        }
      }
    }

    &.section-home:hover,
    &.section-home:focus,
    &.section-home:active,
    &.section-home,
    &.section-home:hover .nav__list-link {
      border-color: $section-home;
    }
    .page-home &.section-home  {
      margin-left: 0;
      padding-left: 20px;
      @media (min-width: $breakpoint-typography-m) {
        padding-left: 0;
      }
      &:hover .nav__list-link {
        padding-left: 20px;
        margin-left: -20px;
        @media (min-width: $breakpoint-typography-m) {
          margin-left: 0;
          padding-left: 0;
        }
      }
    }
  }
}

/*.page-speaking .section-speaking {
  border-top: none;
}

.page-post .section-writing,
.page-writing .section-writing {
  border-top: none;
}*/
