html {
  font-size: $base-font-size;
  @include rem(line-height, 21px);
  @media (min-width: $breakpoint-typography-m) {
    @include rem(line-height, 22px);
    font-size: $base-font-size-m;
  }
  @media (min-width: $breakpoint-typography-l) {
    @include rem(line-height, 24px);
    font-size: $base-font-size-l;
  }
  @media (min-width: $breakpoint-typography-xl) {
    @include rem(line-height, 27px);
    font-size: $base-font-size-xl;
  }
}

body {
  font-family: $font-sans-regular;
  margin: 0;
  padding: 0;

  @media print {
    font-size: $base-font-size;
  }

}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
main,
nav,
section,
summary,
details {
    display: block;
    }

main {
    clear: both;
    }

abbr {
    border-bottom: 1px dotted;
    @include border-color($color-base, 0.5);
    }

abbr:hover {
    cursor: help;
    }

p,
ul,
ol,
dl {
    margin: $base-font-size 0;
    @include rem(line-height, 21px);
    @media (min-width: $breakpoint-typography-m) {
      @include rem(line-height, 22px);
    }
  }

@media print {
	p,
	ul,
	ol,
	dl {
    line-height: 20px;
		}
	}

strong {
    font-weight: bold;
    }

code,
.code {
    font-family: $font-monospace-regular;
    background-color: #f5f2f0;
    padding: 2px 4px;
    border-radius: $measure-xxs;
    }


mark {
    @include background-color($color-highlight, 1);
    padding: 0 0.1em;
    border-radius: $measure-xxs;
    }

kbd {
    font-family: $font-monospace-regular;
    @include background-color($color-base, 0.25);
    padding: 8px 8px 6px;
    border-radius: $measure-xxs;
    }

pre {
    white-space: pre-wrap;
    max-width: 100%;
    border-radius: $measure-xxs;
    }

pre code {
    background-color: transparent;
    padding: inherit;
    }

blockquote {
  font-family: $font-serif-regular;
  padding: 1px $base-font-size;
  margin: 0;
  padding: 0 0 0 1.8em;
  font-style: italic;
  position: relative;
  &:before {
    content: "“";
    position: absolute;
    left: 0;
    font-size: 2.3em;
    top: 0.2em;
    color: #888;
    font-weight: bold;
    font-style: normal;
  }
}

blockquote p {
    }

cite {
  font-style: italic;
}

figure {
	margin: 2em 0;
  text-align: center;
	}

figcaption {
  font-size: 12px;
  @media (min-width: $breakpoint-typography-m) {
    font-size: 13px;
  }
  color: #555;
}

.lede {
  font-size: 1.1em;
  max-width: 800px;
  margin: 0 auto;
}

.hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    }
