---
layout: default
title: Portfolio
slug: page-portfolio
---

<div class="l-container--tight u-centered">
  <h1 class="heading-section">Portfolio</h1>
  <h2 class="heading-prominent u-separator">Side projects</h2>
</div>

<div class="l-container--full l-tight--bottom">
  <ol class="content-list content-list--teaser">
    {% for project in site.projects %}
    <li class="content-list__item content-list__item--image">
      <a class="content-list__item__link" href="{% if project.link %}{{ project.link }}{% else %}{{ project.url }}{% endif %}">
        <div class="content-list__item__heading">
          <h3 class="content-list__item__title">{{ project.title }}</h3>
        </div>
        <div class="content-list__item__image">
          <img src="/image/{{ project.image }}" alt="" />
        </div>
        <div class="content-list__item__text">
          <p class="excerpt">{{ project.description }}</p>
        </div>
      </a>
    </li>
    {% endfor %}
  </ol>
</div>

<div class="l-container--tight u-centered u-separator l-tight--top">
  <h2 class="heading-prominent">Client work</h2>
</div>

<div class="l-container--full">
  <ol class="content-list">
    {% comment %}
    <li class="content-list__item content-list__item--highlight">
        <h3 class="title h2">Your project?</h3>
        <p>Upcoming availability in {{ site.availability }}.</p>
        <a href="/hire-me/#consultancy" class="button">Hire me</a>
    </li>
    {% endcomment %}
    {% for casestudy in site.portfolio %}
    <li class="content-list__item content-list__item--image">
      <a class="content-list__item__link" href="{{casestudy.url}}">
        <div class="content-list__item__heading">
          <h3 class="content-list__item__title">{{ casestudy.title }}</h3>
        </div>
        <div class="content-list__item__image">
          <img src="/image/{{ casestudy.image }}" alt="" />
        </div>
        <div class="content-list__item__text">
          <p class="client">{{ casestudy.client }}{% if casestudy.agency %}, with {{ casestudy.agency }}
            {% endif %}</p>
          <h4 class="content-list__item__subtitle">Involvement</h4>
          <p class="excerpt">{{ casestudy.involvement }}</p>
        </div>
      </a>
    </li>
    {% endfor %}
  </ol>
</div>
