---
layout: default
title: Anna Debenham
slug: page-portfolio
---

<ol class="content-list">

{% for casestudy in site.portfolio %}
<li class="content-list__item content-list__item--image">
  <a class="content-list__link" href="{{casestudy.filename}}.html">
    <h2 class="title">{{ casestudy.title }}</h2>
    <img class="image" src="/image/{{ casestudy.image }}" alt="" />
    <p class="client">{{ casestudy.client }}{% if casestudy.agency %}, with {{ casestudy.agency }}
    {% endif %}</p>
    <h4>Involvement</h4>
    <p>{{ casestudy.involvement }}</p>
  </a>
</li>
{% endfor %}

</ol>
