{% include head.html %}

<body class="{{ page.slug }}">

  <div class="backdrop--dark">

    {% include header.html %}

    <div class="l-container--full u-separator">

      <nav role="navigation" class="nav--extended">
        <ul class="nav__list">
          <li class="nav__list__item section-fesg">
            <a class="nav__list__link" href="/projects/front-end-style-guides/">Front-end style guides</a>
          </li>
          <li class="nav__list__item section-writing">
            <a class="nav__list__link" href="/writing">Writing</a>
          </li>
          <li class="nav__list__item section-portfolio">
            <a class="nav__list__link" href="/portfolio">Portfolio</a>
          </li>
          <li class="nav__list__item section-speaking">
            <a class="nav__list__link" href="/speaking">Speaking</a>
          </li>
          <li class="nav__list__item section-projects">
            <a class="nav__list__link" href="/projects">Side projects</a>
          </li>
          <li class="nav__list__item section-ama">
            <a class="nav__list__link" href="https://github.com/maban/ama">Ask me anything</a>
          </li>
        </ul>
      </nav>

    </div>

    <main role="main">

    {{ content }}

    </main>

    {% include footer.html %}

  </div>

</body>

{% include foot.html %}
