---
layout: project
title: Anna Debenham
slug: page-speaking
image: screenshot-fesg-03.jpg
image-alt: Screenshots from the talk
---

<div class="layout">

    <div class="layout--major">

        <h1 class="title">Front-end Style Guides</h1>

        <p><strong>20-45 minutes</strong></p>

        <a class="button" href="https://speakerdeck.com/anna/style-guides-pattern-libraries-and-code-standards">Preview the slides</a>

        <h2 class="h4">Outline</h2>

        <ul>
          <li>A quick preview of the different types of style guides.</li>
          <li>What a front-end style guide is, and why they're so useful for designers and developers.</li>
          <li>Some cool features in exisiting front-end style guides.</li>
          <li>Tools you can use to help build one.</li>
          <li>How keep it maintained.</li>
          <li>An introduction to living style guides.</li>
          <li>Further resources.</li>
        </ul>

        <h2 class="h4">Description</h2>

        <p>After interviewing a dozen people with Brad Frost for their podcast on Style Guides for the web, Anna has collated all their findings for this talk on the different kinds that are out there, how they're built, what works (and what doesn't), and what makes them such a useful tool.</p>

        <p>She'll give you a tour of some style guides built by companies with a range of different needs and requirements, and you'll learn how to build your own using a range of possible technologies.</p>

        <p>Most importantly, she'll show you how to make sure they don't get forgotten at the end of the project, and ways that it can be kept up to date as living documentation well after a site has gone live.</p>

    </div>

    <div class="layout--minor">

      <h2 class="heading-section">Feedback</h2>

      <blockquote class="testimonial">
          <p>Style Guides talk by <a href="https://twitter.com/anna_debenham">@anna_debenham</a> at <a href="https://twitter.com/hashtag/webexpo">#webexpo</a> was awesome. Tommorow I am going to start to make one!</p>
          <cite><a href="https://twitter.com/konnnyy/status/645538085539848196">@konnnyy</a></cite>
      </blockquote>

      <blockquote class="testimonial">
          <p>Really great overview and introduction to style guides by <a href="https://twitter.com/anna_debenham">@anna_debenham</a>. <a href="https://twitter.com/hashtag/FTF15">#FTF15</a>.</p>
          <cite><a href="https://twitter.com/criscom/status/644532312647073792">@criscom</a></cite>
      </blockquote>

      <blockquote class="testimonial">
          <p>Enjoyed <a href="https://twitter.com/anna_debenham">@anna_debenham</a>'s talk on UI/Web Style Guides <a href="https://twitter.com/webexpo">@webexpo</a>. It's a challenging but worthwhile investment for product teams</p>
          <cite><a href="https://twitter.com/johnnyrodgersis/status/645562950388989952">@johnnyrodgersis</a></cite>
      </blockquote>

      <blockquote class="testimonial">
          <p>Awesome talk on style guides by <a href="https://twitter.com/anna_debenham">@anna_debenham</a> Thank you. <a href="https://twitter.com/hashtag/dotyork">#dotyork</a></p>
          <cite><a href="https://twitter.com/PierceMcGeough/status/586186399830925313">@PierceMcGeough</a></cite>
      </blockquote>

    </div>

</div>

<h2 class="heading-prominent">Where I've given this talk</h2>

<ol class="content-list">

{% for talk in site.talks reversed %}

{% if talk.topic == 'Front-end Style Guides' %}

<li class="content-list__item {% if talk.upcoming %}talk-upcoming {% else %}talk-passed{% endif %}">
  <a class="content-list__link" href="{{ talk.link }}">
    <h3 class="title">{{ talk.conf }}</h3>
    <p class="location"><span class="flag flag-{{ talk.flag }}"></span> {{ talk.location }}</p>
    <time datetime="{{ talk.date | date_to_xmlschema }}" class="date">{{ talk.date | date_to_long_string }}</time>
    {% if talk.upcoming %}<p class="status">Upcoming</p>{% endif %}
  </a>
</li>

{% else %}

{% endif %}

{% endfor %}

</ol>
